/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MEH LC(LS(LALT))
#define HYPER LC(LS(LA(LGUI)))

#define HRML(k1,k2,k3,k4) &mt LSHIFT k1   &mt LCTRL k2    &mt LALT k3    &mt LGUI k4
#define HRMR(k1,k2,k3,k4) &mt RGUI k1     &mt RALT k2     &mt RCTRL k3   &mt RSHIFT k4

/ {
        macros {
                m_gui: m_gui {
                compatible = "zmk,behavior-macro-one-param";
                #binding-cells = <1>;
                bindings
                        = <&macro_press &kp LGUI>
                        , <&macro_param_1to1>
                        , <&macro_tap &kp MACRO_PLACEHOLDER>
                        , <&macro_release &kp LGUI>
                        ;
                };

                m_tcmd: m_tcmd {
                compatible = "zmk,behavior-macro-one-param";
                #binding-cells = <1>;
                bindings
                        = <&macro_tap &kp LCTRL &kp B>
                        , <&macro_param_1to1>
                        , <&macro_tap &kp MACRO_PLACEHOLDER>
                        , <&macro_release &kp LGUI>
                        ;
                };

        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
//        ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                    
//        │     *     │     Q     │     W     │     F     │     P     │     B     │     │     J     │     L     │     U     │     Y     │     ;     │     *     │
             &kp ESC      &kp Q       &kp W       &kp F       &kp P       &kp B             &kp J       &kp L       &kp U      &kp Y       &kp SEMI    &kp BSPC
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │ A (Shift) │  R (Ctrl) │  S (Alt)  │ T (Super) │     G     │     │     M     │ N (Super) │  E (Alt)  │  I (Ctrl) │ O (Shift) │     *     │                                                                                                                                                  ACE │
              &none      HRML(A,        R,          S,          T)        &kp G              &kp M      HRMR(N,        E,          I,          O)       &none
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     Z     │     X     │     C     │     D     │     V     │     │     K     │     H     │     ,     │     .     │     /     │     *     │                                                                                                                                                  ACE │
              &to 1      &kp Z       &kp X       &kp C       &kp D       &kp V              &kp K      &kp H      &kp COMMA    &kp DOT    &kp FSLH      &to 2
//        ╰───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────╯  
                                                 &kp MEH    &lt 1 TAB  &lt 4 SPACE        &lt 3 RET   &lt 2 BSPC  &kp HYPER
//                                            ╰───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────╯
                        >;
                };

                num_layer {
                        bindings = <
//        ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                    
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     +     │     7     │     8     │     9     │     *     │     *     │
              &none       &none      &none       &none       &none      &bt BT_CLR        &kp PLUS     &kp N7      &kp N8      &kp N9      &kp STAR     &none
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     -     │     4     │     5     │     6     │     /     │     *     │                                                                                                                                                  ACE │
              &none       &none       &none      &none     &bt BT_PRV   &bt BT_NXT        &kp MINUS    &kp N4      &kp N5      &kp N6      &kp FSLH     &none
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     =     │     1     │     2     │     3     │     .     │     *     │                                                                                                                                                  ACE │
              &to 0       &none      &none       &none        &none       &none           &kp EQUAL    &kp N1      &kp N2      &kp N3      &kp DOT      &none
//        ╰───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────╯  
                                                  &trans     &trans       &trans           &trans      &trans      &kp N0
//                                            ╰───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────╯
                        >;
                };

                sym_layer {
                        bindings = <
//        ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                    
//        │     *     │     ^     │     '     │     "     │     `     │     ~     │     │     *     │     *     │     *     │     *     │     *     │     *     │
              &none     &kp CARET    &kp SQT     &kp DQT    &kp GRAVE   &kp TILDE           &none       &none       &none       &none       &none       &none
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     <     │     (     │     {     │     [     │     \     │     │     %     │     ?     │     &     │     |     │     !     │     *     │                                                                                                                                                  ACE │
              &none       &kp LT     &kp LPAR    &kp LBRC    &kp LBKT    &kp BSLH         &kp PRCNT   &kp QMARK    &kp AMPS    &kp PIPE    &kp EXCL     &none
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     >     │     )     │     }     │     ]     │     /     │     │     :     │     _     │     @     │     #     │     $     │     *     │                                                                                                                                                  ACE │
              &none       &kp GT     &kp RPAR    &kp RBRC    &kp RBKT    &kp FSLH         &kp COLON   &kp UNDER     &kp AT     &kp HASH    &kp DLLR     &to 0
//        ╰───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────╯  
                                                  &trans     &trans       &trans           &trans      &trans       &trans
//                                            ╰───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────╯
                        >;
                };

                cmd_layer {
                        bindings = <
//        ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                    
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     *     │     *     │     *     │     *     │     *     │     *     │
              &none       &none      &none       &none       &none      &none               &none       &none       &none       &none       &none       &none
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     *     │     *     │     *     │     *     │     *     │     *     │                                                                                                                                                  ACE │
              &none       &trans     &trans      &trans       &trans      &none          &m_gui LEFT  &m_gui N1   &m_gui N2   &m_gui N3   &m_gui N4  &m_gui RIGHT
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     *     │     H     │     J     │     K     │     L     │     *     │                                                                                                                                                  ACE │
              &none       &none      &none      &m_tcmd C     &none       &none           &m_tcmd P   &m_tcmd N0  &m_tcmd N1  &m_tcmd N2  &m_tcmd N3  &m_tcmd N
//        ╰───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────╯  
                                                  &trans     &trans       &trans           &trans      &trans       &trans
//                                            ╰───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────╯
                        >;
                };

                nav_layer {
                        bindings = <
//        ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                    
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     *     │     *     │     *     │     *     │     *     │     *     │
              &none       &none      &none       &none       &none      &none               &none       &none       &none       &none       &none       &none
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     *     │     *     │     *     │     *     │     *     │     *     │                                                                                                                                                  ACE │
              &none       &trans     &trans      &trans       &trans      &none             &none     &kp LEFT    &kp DOWN     &kp UP     &kp RIGHT    &none
//        ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                                                                                                                  ────┤
//        │     *     │     *     │     *     │     *     │     *     │     *     │     │     *     │     H     │     J     │     K     │     L     │     *     │                                                                                                                                                  ACE │
              &none       &none      &none       &none        &none       &none             &none       &kp H       &kp J       &kp K       &kp L       &none
//        ╰───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────╯  
                                                  &trans     &trans       &trans           &trans      &trans       &trans
//                                            ╰───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────╯
                        >;
                };
        };        
};
